@font-face {
    font-family: caps;
    src: url(../public/Bbad_caps.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.clip{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);}



.bgw{
    background-image: url('./src/assets/wwhite.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.tableau{
    background-image: url('./src/assets/tableau.png');
}    
.filtre{
    filter: brightness(0) saturate(100%) invert(87%) sepia(18%) saturate(631%) hue-rotate(340deg) brightness(105%) contrast(104%) opacity(50%);
}

.teinte{
    filter: invert(3%) sepia(20%) hue-rotate(78deg) brightness(97%) contrast(101%);
}